body{
    background: url("../images/bg.jpg");
}

.main {
    background-color: white;
    margin: 50px;
    border-radius: 10px;
}

.btn-publish {
    float: right;
    margin-bottom: 30px;
}

.zhi-nan{
    font-family: 微软雅黑;
    color: #c0a16b;
}